{% extends 'base.html' %}
{% block main_content %}
    <body>
    <h1 class="text-center">Apartments</h1>
    <hr>
    <div class="row">
        {% for apartment in apartments %}
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{ apartment.name }}</h5>
                        <img src="{{ apartment.image_url }}" alt="text" width="200" height="200"/>
                        <p class="card-text">Description: {{ apartment.description }}</p>
                        <p class="card-text">Price: {{ apartment.price }} per night.</p>
                        <p class="card-text">Location: {{ apartment.location }}</p>
                        {% if apartment.available %}
                            <p class="card-text">Status: Available</p>
                        {% else %}
                            <p class="card-text">Status: Not Available</p>
                        {% endif %}
                        <a href="{% url 'edit_apartment' apartment.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_apartment' apartment.id %}" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <li>No apartments.</li>
        {% endfor %}
    </div>
    </body>
{% endblock %}